<!DOCTYPE html>
<html>
<head>
  <title>Nombre de tu aplicación</title>
</head>
<body>
  <h1>Bienvenido a tu aplicación</h1>

  <!-- Aquí puedes agregar contenido adicional según el propósito de tu página de inicio -->

  {{> loginButton}} <!-- Incluir el partial del botón de inicio de sesión -->
  {{> registerButton}} <!-- Incluir el partial del botón de registro -->
</body>
</html>
